<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>agora whiteboard</title>
<link rel="stylesheet" href="https://sdk.herewhite.com/white-web-sdk/2.9.1.css">
</head>
<body>
	<button type="button" id="btnCreateRoom">create room</button>
	<script src="https://sdk.herewhite.com/white-web-sdk/2.9.1.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>