<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sign up</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid vh-100">
		<div class="row">
			<div class="rounded d-flex justify-content-center">
				<div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
					<div class="text-center">
						<h3 class="text-primary">Create Account</h3>
					</div>
					<div class="p-4">
						<form method="post" th:action="@{/security/signup}" autocomplete="off">
							<div class="input-group mb-3">
								<span class="input-group-text bg-primary">
									<i class="bi bi-person-plus-fill text-white"></i>
								</span>
								<input type="text" class="form-control" id="userId" name="userId" placeholder="Id" minlength="5" maxlength="20" required="required">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text bg-primary">
									<i class="bi bi-person-plus-fill text-white"></i>
								</span>
								<input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="30" placeholder="Password" required="required">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text bg-primary">
									<i class="bi bi-person-plus-fill text-white"></i>
								</span>
								<input type="text" class="form-control" id="userName" name="userName" minlength="2" maxlength="20" placeholder="Username" required="required">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text bg-primary">
									<i class="bi bi-envelope text-white"></i>
								</span>
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text bg-primary">
									<i class="bi bi-key-fill text-white"></i>
								</span>
								<select id="region" name="region" class="form-select" aria-label="Select your region" required="required">
									<option value="">Select your region</option>
									<option value="sg">Singapole</option>
								</select>
							</div>

							<div class="d-grid col-12 mx-auto">
								<button class="btn btn-primary" type="submit">
									<span>Sign up</span>
								</button>
							</div>

							<p class="text-center mt-3">
								Already have an account?
								<a th:href="@{/security/signin/form}" class="text-primary"> Sign in </a>
							</p>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>