<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>agora</title>
<!-- css -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/index.css}">
<!-- content script -->
<th:block layout:fragment="css"></th:block>
</head>
<body>
	<!-- header -->
	<th:block th:replace="fragment/header :: header"></th:block>

	<!-- body -->
	<div class="container-fluid">
		<div class="row">
			<!-- left-sidebar -->
			<nav id="sidebarMenu" th:fragment="left-sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<th:block th:replace="fragment/nav :: left-sidebar"></th:block>
			</nav>

			<!-- content -->
			<main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<th:block layout:fragment="content"></th:block>
			</main>
		</div>
	</div>

	<!-- js -->
	<script th:src="@{/assets/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/common/index.js}"></script>
	<script th:src="@{/js/common/utils.js}"></script>
	<!-- content script -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>