<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] [%d{yyyy-MM-dd HH:mm:ss,SSS}] : %c - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="console" />
		</logger>

		<logger name="net.mwav.agora.whiteboard" level="info" additivity="false">
			<AppenderRef ref="console" />
		</logger>
		
		<!-- sql Loggers -->
		<Logger name="jdbc.sqltiming" additivity="false" level="info">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="jdbc.sqlonly" additivity="false" level="off">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="jdbc.audit" additivity="false" level="off">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="jdbc.resultset" additivity="false" level="off">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="jdbc.resultsettable" additivity="false" level="off">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="jdbc.connection" additivity="false" level="debug">
			<AppenderRef ref="console" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>