<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- left-sidebar -->
<div th:fragment="left-sidebar" class="position-sticky pt-3">
	<ul class="list-unstyled ps-0">
		<li class="mb-1">
			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#analytics-collapse" aria-expanded="true">Analytics</button>
			<div class="collapse show" id="analytics-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li>
						<a th:href="@{/analytics/dashboard/view}" class="link-dark d-inline-flex text-decoration-none rounded">Dashboard</a>
					</li>
					<li>
						<a th:href="@{/analytics/report/view}" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="mb-1">
			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#room-collapse" aria-expanded="true">Room Management</button>
			<div class="collapse show" id="room-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li>
						<a th:href="@{/room/list/view}" class="link-dark d-inline-flex text-decoration-none rounded">List</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="border-top my-3"></li>
		<li class="mb-1">
			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">Account</button>
			<div class="collapse" id="account-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li>
						<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a>
					</li>
					<li>
						<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a>
					</li>
					<li>
						<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a>
					</li>
					<li>
						<a th:href="@{/security/signout}" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
</html>