<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default-layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/assets/toast-ui/grid/css/tui-grid.css}" />
</th:block>

<!-- content -->
<div layout:fragment="content">

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Room Management</h1>
	</div>

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		<h1 class="h4">Current Room</h1>

		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<button type="button" id="btnSearch" class="btn btn-sm btn-outline-secondary" th:data-href="@{/room/list}">Search</button>
				<button type="button" id="btnExport" class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
		</div>
	</div>

	<div id="grid"></div>
</div>

<th:block layout:fragment="script">
	<script th:src="@{/assets/toast-ui/grid/js/tui-grid.js}"></script>
	<script th:src="@{/js/room/manage.js}"></script>
</th:block>

</html>