<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="keywords" content="realtime, interactive, online education, online meetings, design, whiteboard">
<meta name="description" content="Agora Interactive Whiteboard can be used for online education, online meetings, team collaboration, online interactive entertainment, and other scenarios.">
<meta name="author" content="agora">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">

<title>meeting</title>

<link rel="stylesheet" type="text/css" th:href="@{/assets/agora/css/whiteboard.css}">

</head>
<body>
	<div id="root"></div>
	<!-- #root -->

	<script src="https://sdk.netless.link/white-web-sdk/2.15.16.js"></script>
	<script type="module" th:src="@{/assets/agora/whiteboard.js}"></script>
	<script th:inline="javascript">
		const uuid = /*[[${uuid}]]*/"";
		const appIdentifier = /*[[${appIdentifier}]]*/"";
		const roomToken = /*[[${roomToken}]]*/"";
		
		document.addEventListener('DOMContentLoaded', event => {
			joinRoom().then(room => {
				window.room = room;
				
				let whiteboard = new WhiteBoard({
					id : 'root',
					room : room
				});
				whiteboard.render();
				return room;
			})
		});
		
		function joinRoom() {
			window.whiteWebSdk = new WhiteWebSdk({
				appIdentifier: appIdentifier,
				region: "sg"
			});

			return whiteWebSdk.joinRoom({
				'uuid': uuid,
				'uid': 'gregor77kr',
				'roomToken': roomToken
			}).catch((error) => {
				console.error(error);
			});
		}
	</script>
</body>
</html>