<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sign in</title>

<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
	<div class="container-fluid">
		<main>
			<input type="hidden" id="txUuid" th:value="${uuid}">

			<div id="toolbar" class="btn-group" role="group"></div>

			<div id="whiteboard" class="p-5 my-4 rounded-3 border border-secondary" style="width: 100%; height: 80vh;"></div>
		</main>
	</div>

	<script src="https://sdk.netless.link/white-web-sdk/2.15.16.js"></script>
	<script th:src="@{/assets/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/common/utils.js}"></script>
	<script th:src="@{/js/room/meeting.js}"></script>
</body>
</html>