<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sign in</title>

<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
	<div class="container-fluid">
		<main>
			<h2>join</h2>
		</main>
	</div>

	<script th:src="@{/assets/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/common/utils.js}"></script>
</body>
</html>